Flask==0.10.1
Flask-Cors==1.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
gevent>=1.1b6
gevent-websocket==0.9.3
greenlet==0.4.5
itsdangerous==0.24
redis==2.10.3
six==1.8.0
websocket-client==0.23.0
wsgiref==0.1.2
requests>=2.9.0
